<!DOCTYPE html>
<html>
<body>
<h2>WEBRTC DETECTOR</h2>
<p>The project check for webrtc leaks</p>


<h4>Your local IP address:</h4>
<ul></ul>
<h4>Your Public IP address:</h4>
<ul></ul>

<script>
function findIP(onNewIP) {
  var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
  var pc = new myPeerConnection({iceServers: [{urls: "stun:stun.l.google.com:19302"}]}),
    noop = function() {},
    localIPs = {},
    ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
    key;

  function ipIterate(ip) {
console.log("ip here", ip);
    if (!localIPs[ip]) onNewIP(ip);
    localIPs[ip] = true;
  }

  pc.createDataChannel("");

  pc.createOffer(function(sdp) {
    sdp.sdp.split('\n').forEach(function(line) {
      if (line.indexOf('candidate') < 0) return;
      line.match(ipRegex).forEach(ipIterate);
    });
    pc.setLocalDescription(sdp, noop, noop);
  }, noop);

  pc.onicecandidate = function(ice) {
    if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
    ice.candidate.candidate.match(ipRegex).forEach(ipIterate);
  };
}



var table = document.createElement('table');
//ul.textContent = 'Your IPs are: '
document.body.appendChild(table);


function addIP(ip) {
  console.log('got ip: ', ip);
  var tr = document.createElement('tr');
  var td = document.createElement('td');
  var td2 = document.createElement('td');
  td.textContent = ip;
  td2.textContent  ="Custom value";
  tr.appendChild(td);
  tr.appendChild(td2);
  
  
//  if (ip.match(/^(192\.168\.|169\.254\.|10\.|172\.(1[6-9]|2))
//      document.getElemetsByTagName("ul")[1].appendChild(li);
//  else
//      document.getElementsByTagName("ul")[0].appendChild(li);
  table.appendChild(tr);
}

findIP(addIP);

</script>

</body>
</html>
